[Desktop Entry]
Type=Application
Name=ToonTown MultiTool
GenericName=Toontown Multibox Controller
Comment=Multitoon controller for Toontown Rewritten and Corporate Clash
Exec=toontown-multitool
Icon=io.github.flossbud.ToonTownMultiTool
Terminal=false
Categories=Game;
StartupWMClass=ToonTown MultiTool
